/* .body {
    overflow-x: hidden;
  }
.media-control-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    color: white;
}

.media-control-bar .progress {
    height: 5px;
}

.audioPlayer {
    width: 100%;
    height: 50px; 
} */

/* .media-control-bar .progress-bar {
    background-color: red;
} */

.body {
    overflow-x: hidden;
}

.media-control-bar {
    position: fixed;
    bottom: 3%;
    right: 2%;
    display: flex;
    align-items: center;
    visibility: hidden;
}
.media-control-bar .progress {
    height: 5px;
}
.img-media {
    height: 100px;
    width: 100px;
    margin: 5px;
}
.audioPlayer {
    width: 100px;
    height: 50px;
    margin: 5px;
}
.song-info {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.media-control-bar.active {
    visibility: visible;
}
.song-name {
    position: relative;
    width: 320px; 
    white-space: nowrap;
    overflow: hidden; 
}
.song-name::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;
    
    animation: marquee 10s linear infinite;
}
@keyframes marquee {
    0% { right: 100%; }
    100% { right: -90%; }
    100.1% { right: 250%; } 
}
.volume-control {
    display: flex;
    align-items: center;
    position: relative;
}
#volumeBtn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #000;
    font-size: 24px;
    padding: 10px;
}
#volumeBtn svg {
    transition: fill 0.3s ease;
}
#volumeBtn:hover svg {
    fill: #007bff; 
}
.slider-container {
    display: none;
    position: absolute;
    left: 30px;
    bottom: 0;
    width: 30px;
    height: 150px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    overflow: hidden;
    padding: 5px;
    transition: height 0.3s ease;
}
.volume-slider {
    width: 4px;
    height: 100%;
    -webkit-appearance: none;
    background: #f3f3f3;
    outline: none;
    margin: 0;
}
.volume-slider::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
}
.volume-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
}
.volume-control:hover .slider-container {
    display: block;
    height: 150px;
}
.song-name-container{
    height: 40px;
}
.song-name {
    text-transform: uppercase;
    background: url('https://i.ibb.co/RDTnNrT/animated-text-fill.png') repeat-y;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: aitf 80s linear infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}
@keyframes aitf {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}
audio{
    display:none;
}
.audioPlayer{
    display: inline;
}
#playPauseBtn {
    background: none; 
    border: none;
    cursor: pointer;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    position: relative;
    transition: box-shadow 0.2s ease; 
    border-radius: 5px; 
}
#playPauseBtn:hover {
    background: rgb(255, 60, 0); 
}
#playPauseIcon {
    width: 25px; /* Icon size */
    height: 25px; /* Icon size */
    transition: transform 0.2s ease; 
}
#playPauseBtn.playing #playPauseIcon {
    transform: rotate(180deg);
}
.audio-controls {
    display: flex;
    align-items: center;
    margin: 10px 0; 
}
.time-display {
    font-weight: bold;
    margin-right: 10px;
}
.seekbar {
    flex-grow: 1;
    height: 4px; 
    border-radius: 5px; 
    outline: none; 
    accent-color: rgb(255, 0, 0);
}


/* 

.background{
    background-color: #064f47c5;
}

.background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #32CF9B;
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
} */